* {
    color: rgb(10, 10, 10);
    border: 0;
    border-radius: 15px;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

html {
    display: table;
    margin: auto;
}

/* body begin*/
body{
  background-image: url('../img/123.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.content{
    display: table-cell;
    vertical-align: top;
}

.spot{
    padding: 4px;
    margin-bottom: 10px;
}

#title{
    text-align: center;
}

#description{
    text-align: center;
}

#survey-form{
    width: 540px;
    height: auto;
    background-color: rgb(100,149,237, 0.9);
    padding: 25px 40px 25px 40px;
}

#name{
    width: 520px;
    padding: 5px 10px 5px 10px;
}

#email{
    width: 520px;
    padding: 5px 10px 5px 10px;
}

#number{
    width: 520px;
    padding: 5px 10px 5px 10px;
}

#dropdown{
    width: 540px;
    padding: 5px 10px 5px 10px;
}

#textarea{
    max-width: 520px;
    width: 100%;
    padding: 0.625rem;
    resize: none;
}

#submit{
    background-color: #37af75;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: white;
    margin-left: 3px;
}
/* body end*/
